@CHARSET "UTF-8";
body{
	background:url(/0187/img/x1.png) no-repeat;
	background-size:100% 100%;
	width:100%;
	height:100%;  
}
body{
	background-color: white;
	text-algin:center;
}
.title{
	width:100%;
	height:auto;
	background:#bfc7ce1c;
	font-size:30px;
	text-align:center;
}
.title p{
	color: #fff;
}